/*.header {
    top: 0;
    left: 0;
    right: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
    text-decoration: none;
    position: fixed;
    background-color: orangered;
    text-align: left;
    display: block;
}

#header-right {
    float: right;
}

button {
    background-color: white;
}*/