<div class="form">
    <form>
        <table>
            <tr>
                <th>
                    <h1>Property details</h1>     
                </th>
            </tr>
            <tr>
                <td><p>We need some information about the property so that we can assess whether it's suitable for us to lend against.</p></td>
            </tr>
            <tr>
                <td><label><strong>Your property address</strong></label></td>
            </tr>
            <tr>
                <td><p>Please tell us the address of the property you want to mortgage</p></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Postcode"/></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Address"/></td>
            </tr>
            <tr>
                <td><label><strong>Your property details</strong></label></td>
            </tr>
            <tr>
                <td>
                    <select>
                        <option>Option1</option>
                        <option>Option2</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Number Of Bedrooms"/></td>
            </tr>
            <tr>
                <td><label>Approximately when was the property built?</label></td>
            </tr>
            <tr>
                <td>
                    <button>Before 1914</button>
                    <button>1914 to 1944</button>
                    <button>1945 to 1980</button>
                    <button>After 1980</button>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="" id="">
                        <option value="">Option1</option>
                        <option value="">Option2</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Is the property covered by a structure warranty(e.g. NHBC cover)?</label></td>
            </tr>
            <tr>
                <td>
                    <button>Yes</button>
                    <button>No</button>
                </td>
            </tr>
            <tr>
                <td><label for="">Tenure type</label></td>
            </tr>
            <tr>
                <td><button>Freehold</button>
                    <button>Leasehold</button>
                    <button>Commonhold</button>
                    <button>Absolute title/feudal</button>
                </td>
            </tr>
            <tr>
                <td><button id="save" style="background-color: orangered; border-radius: 20%;">save</button></td>
            </tr>
            <tr>
                <td><label for=""><strong>Important Information</strong></label></td>
            </tr>
            <tr>
                <td>
                    <p style="border: 1px; background-color: grey;">
                        <strong>YOUR HOME MAY BE REPROCESSED IF YOU DO NOT KEEP UP REPAYMENTS ON YOUR MORTGAGE</strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ad fuga cumque temporibus eius sunt minima molestias, eaque vitae dicta repudiandae rem soluta, consectetur vel consequuntur? A magnam explicabo natus?
                    </p>
                </td>
            </tr>
        </table>
    </form>
</div>
