<!--<table>
    <tr>
        <td><app-header></app-header></td>
    </tr>
    <tr>
        <td><app-sidebar></app-sidebar></td>
        <td><app-property-details-form></app-property-details-form></td>
    </tr>
    <tr>
        <td><app-footer></app-footer></td>
    </tr>
</table>-->

<div class="row">
    <div class="row">
        <div class="col-12"><app-header></app-header></div>
    </div>
    <div class="row">
        <div class="col-2" style="background-color: grey; font-size: x-large;">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-9">
            <app-property-details-form></app-property-details-form>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><app-footer></app-footer></div>
    </div>
</div>


        
    
