.sidebar {
    height: 100%;
    width: 240px;  
    left: 0;
    background-color: grey;
    padding-top: 20px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: inline-block;
}