<div class="sidebar">
    <table>
        <tr>
            <td>How to apply</td>
        </tr>
        <tr>
            <td>Mortgage options</td>
        </tr>
        <tr>
            <td>Confirm mortgage</td>
        </tr>
        <tr>
            <td>Property details</td>
        </tr>
        <tr>
            <td>Valuation</td>
        </tr>
        <tr>
            <td>Other Occupations/Solicitor</td>
        </tr>
        <tr>
            <td>Payment details</td>
        </tr>
    </table>
</div>

<!--<div class="row">
    How to apply
</div>
<div class="row">
    Mortgage options
</div>
<div class="row">
    Confirm mortgage
</div>
<div class="row">
    Property details
</div>
<div class="row">
    Valuation
</div>
<div class="row">
    Other Occupations/Solicitor
</div>
<div class="row">
    Payment details
</div>-->